body {
  margin: 0;
  height:100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --primary-color:#60a5fa;
  --primary-color-dark:#2563eb;
  --secondary-color:#06b6d4;
  overflow-x: hidden;
}
.flex-center{
  display:flex;
  align-items: center;
  justify-content: center;
}
.flex-column{
  flex-direction: column;
}
.justify-start{
  align-items: flex-start;
  justify-content: flex-start;
}

